.register-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.register-form{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    row-gap: 10px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

}

input{

}

.form-validation-message{
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
    align-self: end;
}

.input-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.role-radio-buttons-description{
    
}

.register-button{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.register-button:hover{
    background-color: rgb(238, 238, 238);
    border: 1px solid gray;
    transition: 0.1s;
}

input{
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 8px;
}
