



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
    color: black;
    transition: 0.15;
}

.left-section{
    display: flex;
    align-items: center;
    column-gap: 30px;

    
}

.right-section{
    
}